{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block styling %}
  {{ super() }}
  h2 {
      color: blue;
    }
{% endblock %}
  <body>
  {% block content%}
  <h2>Login</h2>
    <form method="POST" action="{{url_for('login')}}" enctype="mspantipart/form-data" novalidate>
        {{form.csrf_token}}
        <p>
            {{form.user_email.label}}<br> {{ form.user_email(size=30) }}
            {% for error in form.user_email.errors:%}
                <span style="color: red">{{ error }}</span>

            {% endfor %}
        </p>
        <p>
            {{form.password.label}}<br> {{ form.password(size=30) }}
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.submit()}}
        </p>
    </form>
    {% endblock %}
  </body>
